<h1>Babysitters</h1>
<div>
    <div class="col-md-3">
        <h2>Option1</h2>

        <p>CPR Certified, 3 years experience, References available upon request</p>

        <p><a class="btn" href="http://angularjs.org/">Find a babysitter &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-md-3">
        <h2>Option2</h2>

        <p>CPR Certified, 5 years experience, References available upon request</p>

        <p><a class="btn" href="http://jquery.com/">Find a petsitter &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-md-3">
        <h2>Option3</h2>

        <p>CPR Certified, 3 years experience, References available upon request</p>

        <p><a class="btn" href="http://getbootstrap.com/">Find a landscaper &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-md-3">
        <h2>Option4</h2>

        <p>CPR Certified, 5 years experience, References available upon request</p>

        <p><a class="btn" href="http://designmodo.github.io/Flat-UI/">Find a maid service &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-md-3">
        <h2>Option5</h2>

        <p>CPR Certified, 3 years experience, References available upon request</p>

        <p><a class="btn" href="http://designmodo.github.io/Flat-UI/">Find a maid service &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-md-3">
        <h2>Option6</h2>

        <p>CPR Certified, 5 years experience, References available upon request</p>

        <p><a class="btn" href="http://designmodo.github.io/Flat-UI/">Find a maid service &raquo;</a></p>
    </div>
    <!--/span-->
</div>
