<h1>Babysitters</h1>
<div>
<div class="col-md-3">
	<h2>Babysitters</h2>
	<p>Need someone to care for your children while you are away? Our babysitters come highly recommended with verified
		customer reviews and references available on request.</p>
	<p><a class="btn" href="http://angularjs.org/">Find a babysitter &raquo;</a></p>
</div><!--/span-->
<div class="col-md-3">
	<h2>Petsitters</h2>
	<p>Need someone to care for your animals while you are away? Our petsitters come highly recommended with verified
	customer reviews and references available on request.</p>
	<p><a class="btn" href="http://jquery.com/">Find a petsitter &raquo;</a></p>
</div><!--/span-->
<div class="col-md-3">
	<h2>Landscaping</h2>
	<p>Whether you need your lawn mowed or a new patio installed, we have providers looking to help you!</p>
	<p><a class="btn" href="http://getbootstrap.com/">Find a landscaper &raquo;</a></p>
</div><!--/span-->
<div class="col-md-3">
	<h2>Maid Services</h2>
	<p>Having a party soon? Moving? Or just looking to spend less time cleaning? Our certified and bonded professionals
    will take care of the work and get your home or office in top condition in no time!</p>
	<p><a class="btn" href="http://designmodo.github.io/Flat-UI/">Find a maid service &raquo;</a></p>
</div><!--/span-->
</div>
