<h1>Who We Are</h1>
<table>
    <tr>
        <td>
            <p>
            Services Finder is dedicated to helping our customers locate companies that offer the services they need,
            with the confidence that the providers will provide their services professionally and promptly. It's our
            mission to provide users with all the information they need to make educated choices, including confirmed
            customer reviews and detailed company profiles.
            </p>
            <p>
                Towards this end we ask that our users provide a review of each provider they employ. Rating them based
                on
                price, performance, and customer relations.
            </p>
        </td>
        <td><img src="view/customer_relations_1.jpg" alt="handshake" style="width:250px;height:250px;" align="right">
        </td>
    </tr>
</table>
